:root {
  --color-primary: #331436;
  --color-secondary: #cb4f57;
  --color-tertiary: #7a1745;
  --color-info: #fcf4b6;
  --color-light: #ffffff;

  --color-task-priority: #7A1745;
  --color-task-priority-mid: #EB9961;
  --color-task-priority-low: #FCF4B6;

  --color-team-member-1: #801E8F;
  --color-team-member-2: #2E4B83;
  --color-team-member-3: #D92B93;
  --color-team-member-4: #1A712D;
  --color-team-member-5: #AF4A00;

  --color-task-card: #F8F2FF;

}